<% if flash[:alert] %>
    <div class="alert"><%= @flash %></div>
  <% end %>
<%= link_to 'Sign up?', new_user_path %></br>
<%= link_to('Log in!', '/login') %></br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %>

