<center>
<h1> Welcome to The Game Review! </h1>

 <h1> <%= info %></h1>
<p> If you do not have an account, then please <%= link_to 'Sign up?', new_user_path %></br> </p>
<p> If you own an account, you can continue with a <%= link_to('Log in!', '/login') %></br>
<p> Facebook users can <%= link_to('Log in with Facebook!', '/auth/facebook') %>

