
<h1 align=center> <%= info %> </h1>

<p align=center> <%=admin_perms_new_game%>  </p>

</br>
<% @games.each do |game| %>

<%= link_to "#{game.title} (#{game.year_released})", game_path(game)%> </br>
<% end %>
